/* Place CSS styles here */

h2 {
    color:rgb(253, 49, 151)
}

.uglybutton {
    color: hotpink;
}

#container {
    color: aquamarine;
}

.button {
    background-color: black;
    color: hotpink;
    padding: 10px;
    border-radius: 8px;
}

.button:hover {
    background-color: hotpink;
    border-color: hotpink;

}

.button:focus {
    border: 1px solid blueviolet;
    
}
body {
    background-color:teal;
}
text {
    background-color: white;
}