/* Place CSS styles here */

h2 {
    color:blanchedalmond
}

.uglybutton {
    color: blanchedalmond;
}

#container {
    color: aquamarine;
}

.button {
    background-color: rgb(3, 39, 27);
    color: blanchedalmond;
    padding: 10px;
    border-radius: 8px;
}

.button:hover {
    background-color: blanchedalmond;
    border-color: blanchedalmond;

}

.button:focus {
    border: 1px solid blueviolet;
    
}
body {
    background-color:teal;
}
p {
    color: white;
}
li {
    color: white;
}
h1 {
    color: blanchedalmond;
}
